.App {
  text-align: center;
}
.fromNowText {
  color: grey;
  font-size: 12px;
  margin-bottom: 1vh;
}
.tipsCardText {
  font-size: 15px;
  margin-bottom: 2vh;
}
.tipsContainer {
  z-index: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tipsCard {
  margin: 3vh;
  width: 250px;
  height: 100px;
  background-color: #f3f2ee;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
  text-align: center;
  padding-top: 2vh;
  text-decoration-color: #34475c;
}
.tipsCard:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.tipContainer {
  padding: 10vh;
  display: flex;
  justify-content: center;
}
.tipCard {
  padding-top: 2vh;
  text-align: center;
  background-color: #f3f2ee;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
  width: 250px;
  height: 350px;
}
.tipText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: -0.8px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin-bottom: 1vh;
}
.dateText {
  margin-top: 1vh;
  margin-bottom: 8vh;
  color: grey;
  font-size: 20px;
}
.amountSavedText {
  margin-bottom: 8vh;
}
.formContainer{
  margin-top: 5vh;
}
.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.ibb.co/zHwB9Zs/logotrans.png');
  background-size: 80vw;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.topItem {
  margin-top: 60vh;
  margin-bottom: 1vh;
  font-size: 25px;
}
.bottomItem {
  font-size: 15px;
}
.homeItem {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: -0.8px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  color: #505b43;
}

@media only screen and (max-width: 700px) {
  .homeContainer {
    background-image: url('https://i.ibb.co/zHwB9Zs/logotrans.png');
    background: cover;
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: 50% 15%;
  }
  .topItem {
    margin-top: 60vh;
    margin-bottom: 1vh;
    font-size: 20px;
  }
  .bottomItem {
    font-size: 15px;
  }
}
