.App {
  text-align: center;
}

.cardsList {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tipsCard {
  margin: 30px auto;
  width: 200px;
  height: 75px;
  background-color: #34475c;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  padding-top: 4vh;
}

.header {
  background: url('./images/headerlogotrans.png');

  display: block;
margin-left: auto;
margin-right: auto;
width: 50%;

  margin-top: 1vh;
  /* display: flex; */
  height: 20vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerItem {

}

url {
  max-width: 100%;
  height: auto;
}
