.App {
  text-align: center;
}

.amountToSave {
  text-decoration-color: red;
}

.header {
  margin-top: 5vh;
  display: flex;
  height: 30vh;
  background: url('./images/headerlogotrans.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

url {
  max-width: 100%;
  height: auto;
}
